
.mobile {
    width: 430px;
    height: 932px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    
    margin: auto;
    background-color: $light-background-color;
    color: $color;
    border: 2px solid #AC54F0;
    box-sizing: content-box;
    box-shadow: $base-shadow
}