
.mobile {
    width: 430px;
    height: 932px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    
    margin: auto;
    background-color: $light-background-color;
    color: $color;
    // border: 1px solid rgb(218, 198, 48);
    box-sizing: content-box;
    box-shadow: $base-shadow
}